.footer {
    background-color: $mainColor;
    padding: 9rem 0 4rem;

    @media (max-width: $md3+px) {
        padding: 24px 0;
    }

    &__body {
        color: #fff;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        font-family: $secondFontFamily;

        @media (max-width: $md3+px) {
            flex-wrap: wrap;
            gap: 36px 20px;
            margin-bottom: 36px;
        }
    }

    &__col {
        @media (min-width: 768px) {
            margin-bottom: 4rem;
        }

        @media (max-width: $md3+px) {
            flex: 0 1 100%;
        }

        & > * {
            margin-bottom: 3rem;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__col-1 {
        flex: 1 1 auto;
        max-width: 22.9rem;
    }

    &__col-2 {
        @media (max-width: $md3+px) {
            flex: 0 1 calc(50% - 10px);
        }
    }

    &__col-3 {
        @media (max-width: $md3+px) {
            flex: 0 1 calc(50% - 10px);
        }
    }

    &__col-4 {
        @media (max-width: $md3+px) {
            flex: 0 1 calc(50% - 10px);
        }
    }

    &__col-5 {
        flex: 1 1 auto;
        max-width: 22.4rem;

        @media (max-width: $md3+px) {
            max-width: none;
            & .footer__title {
                margin-bottom: 12px;
            }
        }
    }

    &__title {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: 3rem;
        display: block;
    }

    &__contact {
        padding-left: 0;
        margin-bottom: 0;

        & > li {
            display: flex;
            gap: 1.6rem;

            &:not(:last-child) {
                margin-bottom: 2rem;

                @media (max-width: $md3+px) {
                    margin-bottom: 12px;
                }
            }
        }
    }

    &__contact-icon {
        flex: 0 0 auto;
        width: 2.4rem;

        & img,
        & svg {
            width: 100%;
            height: auto;
        }
    }

    &__contact-text {
        font-size: 1.4rem;
        line-height: 1.7rem;
    }

    &__list {
        padding-left: 0;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.5em;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 20px;
        }

        & > li {
            &:not(:last-child) {
                margin-bottom: 3rem;

                @media (max-width: $md3+px) {
                    margin-bottom: 8px;
                }
            }
        }
    }

    &__form {
        @media (min-width: 768px) {
            margin-bottom: -10rem !important;
        }
    }

    &__bottom {
        color: $textColorLight;
        font-family: $secondFontFamily;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;

        @media (max-width: $md3+px) {
            font-size: 12px;
        }

        & strong {
            font-weight: 400;
            line-height: 1.7rem;

            @media (max-width: $md3+px) {
                line-height: 15px;
            }
        }

        & > * {
            margin-bottom: 0;
        }
    }
}

.footer-form {
    &__items {
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        gap: 2.8rem;

        @media (max-width: $md3+px) {
            gap: 12px;
        }
    }

    &__item {
        & .input {
            height: 5.1rem;
            padding: 0.5rem 1.2rem;
            font-weight: 300;
            font-family: $secondFontFamily;
            color: $textColorLight;

            &::placeholder {
                color: $textColorLight;
            }
        }
    }

    &__label {
        display: block;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin-bottom: 1.4rem;
    }

    &__bottom {
    }

    &__submit {
        font-family: $mainFontFamily;
    }
}
