.three-col-banner {
    position: relative;
    background-color: $mainColor;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: linear-gradient(180deg, rgba(62, 74, 100, 0.13) 0%, rgba(62, 74, 100, 0.8) 100%);

            @media (max-width: $md3+px) {
                background: rgba($mainColor, 0.6);
            }
        }


    }

    &__bg-line {
        position: absolute;
        top: 0;
        z-index: 3;
        height: 100%;
        width: 2px;
        transform: translateX(-50%);
        background-color: $mainColor;

        @media (max-width: $md3+px) {
            display: none;
        }

        &--1 {
            left: 33.3333333%;
        }
        &--2 {
            left: 66.6666666%;
        }
    }

    &__body {
        position: relative;
        z-index: 2;
        color: $textColorLight;


        @media (max-width: $md3+px) {
            padding: 55px 0
        }
    }

    &__title {


        @media (min-width: 768px) {
            position: absolute;
            top: 8rem;
            left: 0;
            width: 100%;
            z-index: 5;
            pointer-events: none;
        }
    }

    &__list {
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 6rem 0;

        @media (max-width: $md3+px) {
            flex-direction: column;
            gap: 4rem;
            margin-top: 0;
        }

        & > li {
            display: flex;
            flex-direction: column;
            flex: 0 1 33.3333333%;
            padding: 9rem 2rem 5rem;
            min-height: 76.8rem;
            justify-content: flex-end;
            cursor: pointer;
            transition: all .3s ease;

            @media (min-width: 992px) {
                &:hover {
                    background-color: rgba($mainColor, 0.5);
                }
            }

            @media (max-width: $md3+px) {
                flex: 0 1 auto;
                min-height: auto;
                padding: 0 2rem;
            }
        }
    }

    &__item-title {
        margin-bottom: 1.6rem;
        font-family: $secondFontFamily;
        font-weight: 300;
    }

    &__text {
        margin-bottom: 3rem;
    }

    &__link {
        
    }
}

