.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    &__item {
        flex: 0 1 100%;

        &--half {
            @media (min-width: 768px) {
                flex: 0 1 calc(50% - 1rem);
            }
        }
    }

    &__bottom {
        text-align: center;
    }

    &__submit {

    }
}

.input {
    display: flex;
    align-items: center;
    width: 100%;
    background: transparent;
    border-radius: 0;
    height: 3.6rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ACABBB;
    outline: none;
    font-size: 1.4rem;
    line-height: 1.2em;
    font-weight: 400;
    color: $mainColor;

    &::placeholder {
        font-size: 1.4rem;
        color: $mainColor;
    }
}
.textarea {
    display: flex;
    align-items: center;
    width: 100%;
    background: transparent;
    border-radius: 0;
    height: 12.9rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ACABBB;
    outline: none;
    font-size: 1.4rem;
    line-height: 1.2em;
    font-weight: 400;
    color: $mainColor;
    resize: none;

    &::placeholder {
        font-size: 1.4rem;
        color: $mainColor;
    }
}

.checkbox-radio {
    display: flex;
    align-items: center;
    position: relative;

    & input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        visibility: hidden;

        &:checked ~ {
            & .checkbox-radio__square {
                background-color: $mainColor;
                border-color: $mainColor;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wLjk5OTk5OSA0LjYzNTg4TDIuNDc0NzEgNi4xMTA1OUMyLjg2NTIzIDYuNTAxMTEgMy40OTg0IDYuNTAxMTEgMy44ODg5MiA2LjExMDU5TDkgMC45OTk1MTIiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMS4yIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==");
            }
        }
    }

    &__square {
        flex: 0 0 auto;
        height: 1.2rem;
        width: 1.2rem;
        border: 1px solid $mainColor;
        margin-right: 1rem;
        background-position: center;
        background-size: 85%;
        background-repeat: no-repeat;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5em;
    }
}
